package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.example.backend.common.model.PageResult;
import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
        /**
        * 新增
        * @param request
        * @return
        */
        Integer add(${entity} request);

        /**
         * 批量新增
         *
         * @param request
         * @return
         */
        Boolean batchAdd(List<${entity}> request);

        /**
         * 删除
         * @param id
         * @return
         */
        Boolean del(Integer id);

        /**
         * 编辑
         * @param id id
         * @param request 请求参数
         * @return
         */
        Boolean edit(Integer id, ${entity} request);

        /**
         * 分页条件查询
         * @param request
         * @return
         */
        PageResult<List<${entity}>> queryPage(Integer pageNum, Integer pageSize);

        /**
         * 查询全部
         * @return
         */
        List<${entity}> getAll();

        /**
         * 根据id查询
         *
         * @param id
         * @return
         */
        ${entity} getByIdDetail(Integer id);
}
#end
